/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 0 10px;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: left;
}

header img.logo {
    height: 50px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #0066cc;
    border-radius: 5px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}

.menu {
    margin-bottom: 1rem;
    text-align: center;
}

.menu button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #0056b3;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

#directory {
    gap: 1em;
    padding: 1em;
}

#directory.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#directory.grid .card {
    flex-direction: column;
    padding: 10px;
}

#directory.grid .card .image-container {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

#directory.grid .card .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#directory.list .list-item {
    flex-direction: column;
    padding: 10px;
    background-color: #e0f7fa; 
    margin-bottom: 10px;
    white-space: nowrap; 
    flex-grow: 1;
}

#directory.list .list-item:nth-child(even) {
    background-color: #b2dfdb; 
}

#directory.list .list-item .image-container {
    width: 100px;
}

#directory.list .list-item .image-container img {
    display: none; 
}

#directory.list .list-item .content-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

#directory.list .list-item .content-container h2,
#directory.list .list-item .content-container p,
#directory.list .list-item .content-container a {
    margin: 0;
    padding-right: 10px; 
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #004080;
    color: white;
    margin-top: 20px;
}

.footer p {
    margin: 5px 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .menu button {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    #directory.grid {
        grid-template-columns: 1fr;
    }

    .directory-item {
        padding: 0.5rem;
    }
}



