/* Base Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    padding: 0 10px;
    margin: 0;
}

/* Header Styles */
header {
    background-color: #6a1a7a;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img.logo {
    height: 50px;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.current {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}

/* Common Section Styles */ 
.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h1,
.section h2,
.section h3,
.section h4 {
    color: #333;
    margin: 20px 0;
}

.section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #1a1a1a;
    margin: 10px 0;
}

/* Membership Page Styles */
.membership-levels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.membership-levels article { 
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.membership-levels article:hover {
    background-color: #f0f0f0;
}

.application-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.application-form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.application-form input,
.application-form select,
.application-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.application-form input[type="submit"] {
    background-color: #4d1462;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.application-form input[type="submit"]:hover {
    background-color: #6a1a7a;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.modal-content h3,
.modal-content h4,
.modal-content p {
    color: #333;
}

.modal-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6a1a7a;
    color: #ffffff;
    margin-top: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul.show {
        display: flex;
        position: relative;
        margin-top: 70px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        margin-bottom: 10px;
    }
}

/* New Styles for Discover Page */

/* Grid Layout for Discover Page */
.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 1rem;
    margin: 20px 0;
}

.sidebar {
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.sidebar section {
    margin-bottom: 20px;
}

.sidebar h2 {
    color: #6a1a7a;
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li {
    color: #6a1a7a;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.sidebar ul li:before {
    content: "\2022";
    color: #6a1a7a;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.demographics {
    margin: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fefefe;
}

.demographics p {
    color: #6a1a7a;
}

.events {
    margin: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fefefe;
    line-height: 2rem;
}

.attractions {
    margin: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fefefe;
    line-height: 2rem;
}

#visit-message {
    background-color: #fefefe;
    color: #888;
    padding: 10px;
    margin-bottom: 20px;
}

.calendar {
    margin: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
    background-color: #fefefe;
}

.custom-iframe {
    border: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h1, .main-content h2 {
    color: #6a1a7a; /* Purple color for heading */
    font-size: 28px; /* Adjust font size */
    margin-bottom: 20px; /* Add some bottom margin */
    text-align: center; /* Center align only the h2 heading */
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.image-gallery figure {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery img {
    width: 100%;
    height: 30%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s;
}

.image-gallery img:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Lazy Loading */
.lazy {
    opacity: 0;
    transition: opacity 0.5s;
}

.lazy.loaded {
    opacity: 1;
}

/* Responsive Styles for Discover Page */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .image-gallery figure {
        flex: 1 1 100%;
    }

    .image-gallery img:hover {
        transform: none;
    }
}